* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --body-bg-clr: #f2f2f2;
  --primary-clr: rgb(254, 254, 254);
  --font-clr: #0f0f0f;
  --secondary-clr: rgb(246, 246, 246);
  --tertiary-clr: #818cf8;
  --quaternary-clr: ;
}

[data-theme="dark"] {
  --body-bg-clr: #0f0f0f;
  --primary-clr: #3c3a3a;
  --font-clr: rgb(246, 246, 246);
  --link-color: lightblue;
  --tertiary-clr: #9147ff;
}

body {
  background-color: var(--body-bg-clr);
}